.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}
.fl-right {
	 float: right;
}
.mg-bottom {
	margin-bottom: 20px;
}
.table > thead > tr > th {
	text-align: center;
}
.table > tbody > tr > td {
	text-align: center;
}
.block-400 {
	height: 400px;
}
.block-200 {
	height: 200px;
}
.form-block {
	padding: 7px;
}
span.error-msg {
	color: #d9534f;
}
input.display-none {
	display: none;
}
.form-block > .margin-zero {
	margin: 0px;
}
.error-msg {
	display: block;
}
.image-block > label {
	display: block;
}
.image-block > img {
	display: inline-block;
	margin-bottom: 20px;
}
.pop-layer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 1101;
}
.pop-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: auto;
	background-color: #fff;
	border: 2px solid #bbb;
}
.bg {
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	
}
.close-btn {
	float : right;
	padding: 0px 3px;
	color : #bbb;
}
input[type="file"] {
	padding-top: 10px;
}
.display-none {
	display: none;
}